/* styles.css */
body {
    background-color: #f7f9fc;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

.navbar-brand {
    letter-spacing: 0.2px;
}

.card {
    border: none;
    border-radius: 12px;
}

.table thead.table-primary th {
    color: #fff;
}
